{% extends 'base.html.twig' %}

{% block title %}Modifier la recette -
	{{ recette.nom }}
{% endblock %}

{% block body %}
	<div class="container mx-auto px-6 py-10">
		<h1 class="text-3xl font-bold text-orange-600 mb-6">Modifier la recette</h1>

		{{ form_start(form) }}
		{{ form_row(form.nom) }}
		{{ form_row(form.texte) }}
		{{ form_row(form.dureeTotale) }}
		{{ form_row(form.nombrePersonnes) }}
		<button type="submit" class="btn bg-blue-600 text-white px-6 py-3 rounded-md hover:bg-blue-500 transition">
			Enregistrer les modifications
		</button>
		{{ form_end(form) }}

		<a href="{{ path('recette_show', {'id': recette.id}) }}" class="btn bg-orange-600 text-white px-6 py-3 rounded-md hover:bg-orange-500 transition mt-4">
			Retour à la recette
		</a>
	</div>
{% endblock %}
